/* =============== Sora font =============== */

@font-face {
    font-family: "Sora";
    src: url("./Sora/Sora-Regular.woff2") format("woff2"),
        url("./Sora/Sora-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
