* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* ======================= communal selector ======================= */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 6rem */
    letter-spacing: -0.1rem;
}

.text-desc {
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 3rem */
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 205px;
    height: 60px;
    border-radius: 30px;
    background: #2e80ce;
    color: #fff;
    font-size: 1.8rem;
}

.btn:hover {
    opacity: 0.8;
}

a {
    text-decoration: none;
}

button {
    border: none;
    padding: 0;
    cursor: pointer;
    font-family: "Sora";
}

/*!  */
.header {
    min-height: 100vh;
    background: #10375c;
}

.header__top {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1rem;
    display: flex;
    align-items: center;
    column-gap: 0.6em;
}

.logo__circle {
    display: block;
    position: relative;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    display: inline-block;
    content: "";
    border-radius: 50%;
    width: 1.6em;
    height: 1.6em;
    background: #ffffff;
    position: absolute;
    top: 1.1em;
    left: 1.1em;
}

.logo__brand {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    color: #fff;
}

.logo__text:first-child {
    font-size: 1.8em;
    line-height: 0.78;
}

.logo__text:last-child {
    margin-top: 0.3em;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 0.78;
}

/* navigation */

.navbar__list {
    display: flex;
    column-gap: 18px;
}

.navbar__item:hover .navbar__link {
    color: #fff;
    font-weight: 400;
}

.navbar__item:hover .navbar__link::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: -3px;
    transform: translateY(-50%);
}

.navbar__link {
    padding: 12px;
    position: relative;
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

/* auth buttons  */
.auth-buttons__log-in {
    padding: 12px;
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    border: none;
    background: transparent;
}

.auth-buttons__log-in:hover {
    font-weight: 400;
    text-decoration: underline;
}

.auth-buttons__sign-up {
    margin-left: 16px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    min-width: 104px;
    height: 44px;
    border-radius: 22px;
    background: #2e80ce;
}

.auth-buttons__sign-up:hover {
    opacity: 0.9;
}

/* ================= hero section ================= */
.hero {
    padding: 76px 0 110px;
}

.hero__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* hero left block */
.hero__left {
    width: 44.2%;
}

.hero__heading {
    width: 517px;
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -0.14rem;
}

.hero__desc {
    margin-top: 22px;
    width: 468px;
    color: #c9d2da;
}

.hero__cta-wrapper {
    margin-top: 38px;
    display: flex;
    align-items: center;
    column-gap: 38px;
}

.hero__call-cta {
    color: #fff;
    font-size: 1.8rem;
}

/* hero right block */
.hero__right {
    width: 45.7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__img {
    object-fit: cover;
    object-position: center;
}

.hero__img--primary {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    position: relative;
    z-index: 1;
}

.hero__img--secondary {
    margin-left: -6px;
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;
}

/* ================= services section ================= */
.services {
    margin: 170px 0;
}

.services__heading {
    text-align: center;
}

.services__desc {
    margin: 18px auto 0;
    text-align: center;
    width: 468px;
}

.services__wrapper {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services__img {
    object-fit: cover;
    object-position: center;
    width: 570px;
    height: 570px;
    border-radius: 12px;
}

.services__right {
    width: 40.2%;
}

.services__option {
    padding: 21px 54px 20px 22px;
    border-radius: 10px;
    background: #fff;
    display: flex;
    align-items: flex-start;
    column-gap: 19px;
    transition: 0.3s ease;
}

.services__option:hover {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.services__option:hover .services__option-circle {
    background: #2e80ce;
}

.services__option:hover svg path {
    fill: #fff;
    transition: 0.3s ease;
}

.services__option-circle {
    flex-shrink: 0; /* prevent circle from shrinking */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eff6fd;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.services__option-heading {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
}

.services__option-desc {
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.services__cta {
    margin-top: 55px;
}

/* ================= how-it-works section ================= */
.how-it-works {
    padding: 100px 0;
    background: #f6fbff;
}

.how-it-works__desc {
    margin-top: 18px;
    width: 468px;
}

.how-it-works__list {
    margin-top: 86px;
    display: flex;
    justify-content: space-between;
}

.how-it-works__item {
    width: 370px;
    background: #eaf6ff;
    border-radius: 4px;
    padding: 16px; /* fake border  */
    transition: 0.5s ease;
}

.how-it-works__item:hover {
    transform: translateY(-16px);
    background: #2e80ce;
}

.how-it-works__item-inner {
    border-radius: 4px; /* inner border  */
    padding: 42px;
    background: #fff;
}

.how-it-works__item-heading {
    margin-top: 18px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.how-it-works__item-desc {
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.how-it-works__item-link {
    display: block;
    margin-top: 18px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    transition: 0.5s ease;
}

.how-it-works__item:hover .how-it-works__item-link {
    color: #2e80ce;
}

/* ================= denture-solution section ================= */
.denture-solution {
    margin: 170px 0;
}

.denture-solution__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.denture-solution__left {
    width: 48.8%;
    height: 491px;
    position: relative;
}

.denture-solution__img {
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
}

.denture-solution__img--primary {
    width: 512px;
    height: 370px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.denture-solution__img--secondary {
    width: 332px;
    height: 370px;
    position: absolute;
    top: 121px;
    right: 0;
}

.denture-solution__right {
    width: 40.2%;
}

.denture-solution__desc {
    margin-top: 18px;
}

.denture-solution__cta {
    margin-top: 38px;
}
