* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* ======================= communal selector ======================= */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 6rem */
    letter-spacing: -0.1rem;
}

.text-desc {
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 3rem */
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 205px;
    height: 60px;
    border-radius: 30px;
    background: #2e80ce;
    color: #fff;
    font-size: 1.8rem;
}

.btn:hover {
    opacity: 0.8;
}

.control {
    display: flex;
    column-gap: 18px;
}

.control__btn {
    width: 36px;
    height: 36px;
    border: 1px solid #575f66;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}

.control__btn:hover {
    border-color: #2e80ce;
    background: #2e80ce;
}

.control__btn:hover svg path {
    stroke: #fff;
}

a {
    text-decoration: none;
}

button {
    border: none;
    padding: 0;
    cursor: pointer;
    font-family: "Sora";
    background: transparent;
}

button,
input {
    font-family: inherit;
}

/*!  */
.header {
    min-height: 100vh;
    background: #10375c;
}

.header__top {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1rem;
    display: flex;
    align-items: center;
    column-gap: 0.6em;
}

.logo__circle {
    display: block;
    position: relative;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    display: inline-block;
    content: "";
    border-radius: 50%;
    width: 1.6em;
    height: 1.6em;
    background: #ffffff;
    position: absolute;
    top: 1.1em;
    left: 1.1em;
}

.logo__brand {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    color: #fff;
}

.logo__text:first-child {
    font-size: 1.8em;
    line-height: 0.78;
}

.logo__text:last-child {
    margin-top: 0.3em;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 0.78;
}

/* navigation */

.navbar__list {
    display: flex;
    column-gap: 18px;
}

.navbar__item:hover .navbar__link {
    color: #fff;
    font-weight: 400;
}

.navbar__item:hover .navbar__link::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: -3px;
    transform: translateY(-50%);
}

.navbar__link {
    padding: 12px;
    position: relative;
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

/* auth buttons  */
.auth-buttons__log-in {
    padding: 12px;
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    border: none;
    background: transparent;
}

.auth-buttons__log-in:hover {
    font-weight: 400;
    text-decoration: underline;
}

.auth-buttons__sign-up {
    margin-left: 16px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    min-width: 104px;
    height: 44px;
    border-radius: 22px;
    background: #2e80ce;
}

.auth-buttons__sign-up:hover {
    opacity: 0.9;
}

/* ================= hero section ================= */
.hero {
    padding: 76px 0 110px;
}

.hero__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* hero left block */
.hero__left {
    width: 44.2%;
}

.hero__heading {
    width: 517px;
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -0.14rem;
}

.hero__desc {
    margin-top: 22px;
    width: 468px;
    color: #c9d2da;
}

.hero__cta-wrapper {
    margin-top: 38px;
    display: flex;
    align-items: center;
    column-gap: 38px;
}

.hero__call-cta {
    color: #fff;
    font-size: 1.8rem;
}

/* hero right block */
.hero__right {
    width: 45.7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__img {
    object-fit: cover;
    object-position: center;
}

.hero__img--primary {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    position: relative;
    z-index: 1;
}

.hero__img--secondary {
    margin-left: -6px;
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;
}

/* ================= services section ================= */
.services {
    margin: 170px 0;
}

.services__heading {
    text-align: center;
}

.services__desc {
    margin: 18px auto 0;
    text-align: center;
    width: 468px;
}

.services__wrapper {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services__img {
    object-fit: cover;
    object-position: center;
    width: 570px;
    height: 570px;
    border-radius: 12px;
}

.services__right {
    width: 40.2%;
}

.services__option {
    padding: 21px 54px 20px 22px;
    border-radius: 10px;
    background: #fff;
    display: flex;
    align-items: flex-start;
    column-gap: 19px;
    transition: 0.3s ease;
}

.services__option:hover {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.services__option:hover .services__option-circle {
    background: #2e80ce;
}

.services__option:hover svg path {
    fill: #fff;
    transition: 0.3s ease;
}

.services__option-circle {
    flex-shrink: 0; /* prevent circle from shrinking */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eff6fd;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.services__option-heading {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
}

.services__option-desc {
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.services__cta {
    margin-top: 55px;
}

/* ================= how-it-works section ================= */
.how-it-works {
    padding: 100px 0;
    background: #f6fbff;
}

.how-it-works__desc {
    margin-top: 18px;
    width: 468px;
}

.how-it-works__list {
    margin-top: 86px;
    display: flex;
    justify-content: space-between;
}

.how-it-works__item {
    width: 370px;
    background: #eaf6ff;
    border-radius: 4px;
    padding: 16px; /* fake border  */
    transition: 0.5s ease;
}

.how-it-works__item:hover {
    transform: translateY(-16px);
    background: #2e80ce;
}

.how-it-works__item-inner {
    border-radius: 4px; /* inner border  */
    padding: 42px;
    background: #fff;
}

.how-it-works__item-heading {
    margin-top: 18px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.how-it-works__item-desc {
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.how-it-works__item-link {
    display: block;
    margin-top: 18px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    transition: 0.5s ease;
}

.how-it-works__item:hover .how-it-works__item-link {
    color: #2e80ce;
}

/* ================= denture-solution section ================= */
.denture-solution {
    margin: 170px 0;
}

.denture-solution__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.denture-solution__left {
    width: 48.8%;
    height: 491px;
    position: relative;
}

.denture-solution__img {
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
}

.denture-solution__img--primary {
    width: 512px;
    height: 370px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.denture-solution__img--secondary {
    width: 332px;
    height: 370px;
    position: absolute;
    top: 121px;
    right: 0;
}

.denture-solution__right {
    width: 40.2%;
}

.denture-solution__desc {
    margin-top: 18px;
}

.denture-solution__cta {
    margin-top: 38px;
}

/* ================= dentists section ================= */
.dentists__heading {
    text-align: center;
}

.dentists__btn {
    display: flex;
    width: 205px;
    margin: 38px auto 0;
}

.dentists__list {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.dentist-card {
    width: 270px;
    overflow: hidden;
}

.dentist-card:hover .dentist-card__photo {
    transform: scale(1.1);
}

.dentist-card__img-wrapper {
    height: 318px;
    border-radius: 6px;
    background: #eaf6ff;
    position: relative;
}

.dentist-card__photo {
    /* width: 100%; */
    object-fit: cover;
    position: absolute;
    bottom: 0;
    transition: 0.5s ease;
}

.dentist-card__body {
    padding: 12px 14px 0;
}

.dentist-card__name {
    color: #10375c;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.75;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dentist-card__university {
    color: #575f66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.86;
    /* truncate if text is too long  */
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.dentists__control {
    margin-top: 38px;
    justify-content: center;
}

/* ================= denture-promo section ================= */
.denture-promo {
    margin-top: 170px;
}

.denture-promo__container {
    position: relative;
    background: #2e80ce;
    padding: 76px 70px;
}

.denture-promo__phone {
    position: absolute;
    bottom: 0;
    left: 70px;
}

.denture-promo__block {
    width: 50.1%;
    margin-left: auto;
}

.denture-promo__heading {
    width: 489px;
    color: #fff;
}

.denture-promo__desc {
    margin: 18px 0 38px;
    color: #fff;
}

.denture-promo__download-link {
    margin-right: 28px;
}

/* ================= news section ================= */
.news {
    margin-top: 170px;
}

.news__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news__left {
    width: 40.2%;
}

.news__link {
    display: block;
    margin: 28px 0;
    color: #10375c;
    font-family: Inter;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.56;
}

.news__right {
    width: 49%;
}

.news__list {
    display: flex;
    justify-content: space-between;
}

.news-card {
    width: 270px;
    border-radius: 12px;
    border: 1px solid #e8ebee;
    background: #fff;
    transition: 0.5s ease;
    overflow: hidden;
}

.news-card:hover {
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}

.news-card__img-wrapper {
    overflow: hidden;
}

.news-card__img {
    width: 100%;
    height: 172px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    transition: 0.3s ease;

    display: block; /* this removes tiny gap between img and body */
    /* or use this instead
    vertical-align: baseline; */
}

.news-card:hover .news-card__img {
    transform: scale(1.1);
}

.news-card__body {
    padding: 18px 22px 22px;
}

.news-card__heading {
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.63;
}

.news-card__desc {
    margin-top: 10px;
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71;
}

.news-card__link {
    display: inline-block;
    margin-top: 12px;
    color: #10375c;
    font-size: 1.4rem;
    transition: 0.3s ease;
}

.news-card__link:hover {
    color: #2e80ce;
}

/* ================= news section ================= */
.appointment {
    margin-top: 170px;
}

.appointment__container {
    padding: 100px 0;
    background: #f6fbff;
    text-align: center;
}

.appointment__heading {
    position: relative;
}

.appointment__heading::after {
    content: "";
    display: block;
    width: 136px;
    height: 2px;
    background: #2e80ce;
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
}

.appointment__desc {
    width: 620px;
    margin: 38px auto;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

/* ================= footer ================= */
.footer {
    margin-top: 170px;
    padding: 100px 0 42px;
    background: #10375c;
    font-family: "Open Sans", sans-serif;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__desc {
    margin-top: 21px;
    max-width: 336px;
    color: #a9b3bb;
    font-size: 1.6rem;
    line-height: 1.75;
}

.footer__heading {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    margin-bottom: 20px;
}

.footer__heading:nth-child(n + 2) {
    margin-top: 28px;
}

.footer__item {
    margin-top: 10px;
}

.footer__item:hover .footer__link {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.footer__link {
    color: #a9b3bb;
    font-size: 1.4rem;
    line-height: 1.86;
}

.footer__social-wrapper {
    display: flex;
    column-gap: 10px;
}

.footer__social-link {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.footer__social-link:hover {
    background: #2e80ce;
}

.footer__social-link:hover svg path {
    fill: #fff;
    transition: 0.3s ease;
}

.footer__sub-desc {
    width: 273px;
    color: #a9b3bb;
    font-size: 1.4rem;
    line-height: 1.86;
}

/* ===== form ===== */
.footer__form {
    margin-top: 10px;
}

.footer__input {
    max-width: 212px;
    height: 46px;
    padding: 10px;
    background: transparent;
    border-radius: 4px;
    border: 1px solid #406181;
    outline: none;
}

.footer__input::placeholder {
    color: #9ca8b1;
    font-size: 1.4rem;
    line-height: 1.86;
}

.footer__submit {
    margin-left: 12px;
    width: 108px;
    height: 46px;
    border-radius: 4px;
    background: #2e80ce;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
}

/* copyright  */
.footer__copyright {
    margin-top: 28px;
    color: #aab3ba;
    text-align: center;
    font-size: 1.4rem;
    padding-top: 28px;
    border-top: 1px solid #406181;
}
